<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; background-color: #f4f4f4; padding: 20px;">

    <!-- Logo -->
        <div style="text-align: center;">
            <a href="https://github.com/"><h2>WBS Building</h2></a>
        </div>

    <!-- email content -->
     <ul style="text-align: center;">
        <ol> <h2 style="color: #333333;">Thank you for booking a space at WSB Building. </h2></ol>
        <ol> <h2 style="color: #333333;">Click here to check your booking <a href="https://github.com/">Click here</a> </h2>  </ol>
     </ul>
    
    
</body>
</html>